body {
    font-family: Helvetica, Arial;
    background-color: rgb(134, 181, 206);
    margin:0px
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Annie Use Your Telescope';
    text-align:center;
    padding: 5px;
    background-color: rgb(131, 148, 165);
}

.navLink a{
    display:block;
    background-color: teal;
    border-radius: 25%;
    margin: 10px;
    text-decoration: none;
    color:white;
    padding:5px;
}

ul{
    text-decoration: none;
    list-style-type: none;
}


.form-inline {
    width: 80%;
    margin:auto;
    color:black;
    border:black solid 10px;
    border-radius: 25%;
    padding: 20px;
    justify-content: space-around;
}

.winner-container{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
    text-align: center;
}

#splash-screen-grid-container {
    display: grid;
    grid-template-areas: 
    'rules main_splash more_rules';
    grid-template-columns: 2fr 2fr 2fr;

}
    
#rules{
    width: max;
    /* height: 150px; */
    background-color: transparent;
    grid-area: rules;
    padding: 10px;
    justify-content: center;
    text-align: center;
  }

  #main_splash{
    width: max;
    /* height: 150px; */
    background-color: transparent;
    grid-area: main_splash;
  }

  #more_rules{
    width: max;
    /* height: 150px; */
    background-color: transparent;
    grid-area: more_rules;
    }