<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
      <title>{{ title }}</title>
    </head>
    <body>
        <main>
          <header>
            <hgroup>
              <h1>Welcome to ROCK! PAPER! SCISSORS!</h1>
              <h2> Which one will you choose?</h2>
            </hgroup>
              <ul>
                <li class="navLink"><a href="/">Rules</a></li>
                <li class="navLink"><a href="/home">Play VS Friend</a></li>
                <li class="navLink"><a href="/play">Play VS Computer</a></li>
              </ul>
          </header>
            
        {% block content %}{% endblock %}
        </main>
    </body>
</html>