
{% extends "base.html" %}

{% block content %}
    <div id="form">

            <form class="form-inline" action="/get-result" method="post">
                <div class="input-boxes">
                <!--Player One Input-->
                <label for="name1">Player One Name:</label>
                <input type="text" name="name1" id="name1">
                <label for="hand1">Rock, paper or scissors?:</label>
                <input type="password" name="hand1" id="hand1"> <br>
                <!--Player Two Input-->
                <label for="name2">Player Two Name:</label>
                <input type="text" name="name2" id="name2">
                <label for="hand2">Rock, paper or scissors?:</label>
                <input type="password" name="hand2" id="hand2">
                <!--Submit-->
                <input type="submit" value="Confirm choice">
                </div>
            </form>
            <div class="winner-container">
                {% for winner in winner_list %}
                <div class="winners">
                  <h3>The winner is {{ winner.name }} with {{ winner.hand }}</h3>

                </div>
                {% endfor %}
                </div>

    

{% endblock %}