{% extends "base.html" %}

{% block content %}
<div id="splash-screen-grid-container">
    <section id="rules">
        Rules of Rock, Paper, Scissors: Each player enters their name and picks either 'Rock', 'Paper' or "Scissors". 
    </section>
    <hgroup id="main">
        <img src="{{ url_for('static', filename='images/rockpaperscissors.jpg') }}" alt="rock paper scissors image">
    </hgroup>

    <section id="more_rules">
        'Paper' beats 'Rock'<br>
        'Rock' beats 'Scissors'<br>
        'Scissors' beats 'Paper'
    </section>
</div>

{% endblock %}